* {
    margin: 0;
    box-sizing: border-box;
}

header {
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players>section:nth-child(1) {
    grid-area: player1;
}

.players>section:nth-child() {
    grid-area: player2;
}

.players>section>h4 {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players>section>p {
    grid-area: parag;
    padding: 0 12px 0 12px;

}

.options {
    grid-area: options;
    display: grid;
    grid-template-areas:
        "btn1 btn2 btn3";
    gap: 4px;
}

.options>button:nth-child(1) {
    grid-area: btn1;
    background-image: url("../img/Pedra.jpg");
}


.options>button:nth-child(2) {
    grid-area: btn2;
    background-image: url("../img/Papel.jpg");
}


.options>button:nth-child(3) {
    grid-area: btn3;
    background-image: url("../img/Tesoura.jpg");
}

.options>button {
    border: solid 5px black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    color: rgba(0, 0, 0, 0);
}

.options>button:hover {
    border: solid 5px blue;
}

.options>button {
    border: solid 5px black;
}

section:nth-child(2) .options {

    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    
}

.players>section {
    display: grid;
    grid-template-areas:
        "titulo" "titulo" "titulo"
        "parag" "parag" "parag"
        "options" "options" "options"
        "options" "options" "options"
        "options" "options" "options"
        "options" "options" "options";
    gap: 8px;
}


.players {
    grid-area: players;
    display: grid;
    grid-template-areas: "player1 player2";
    gap: 12px;
}

footer {
    grid-area: foot;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer>p {
    margin: 12px;
    width: 90%;
    height: 50%;
    background-color: white;
    font-size: 250%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    display: grid;
    grid-template-areas:
        "head head head head"
        "players players players players"
        "players players players players"
        "players players players players"
        "foot foot foot foot"
        "foot foot foot foot";
    gap: 8px;
}